.Main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.MainContent {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.ViewPort {
  width: inherit;
}


/*MAGIC*/

.elementFloat {
  transition: all .8s;
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -o-transition: all .8s;
  -ms-transition: all .8s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.leftFace {
  transform: matrix3d(1, 0, 0.00, .00001, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform: matrix3d(1, 0, 0.00, .00001, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.rightface {
  transform: matrix3d(1, 0, 0.00, -.00001, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform: matrix3d(1, 0, 0.00, -.00001, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}


/*LOGO*/

.Logo {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  color: black;
  opacity: .2;
  position: fixed;
  margin-top: 30em;
}

.Logo img {
  display: inline;
  width: inherit;
  color: black;
  box-shadow: 100px 100px 30px #888888;
}


/*MENU*/

.DtMenu {
  padding: 2em;
  width: 100%;
  opacity: .7;
  font-size: 3em;
  color: white;
  background-color: blue;
  position: fixed;
  z-index: 2
}

.DtMenuItem:hover {
  color: black;
  background-color: green;
  cursor: pointer;
}

.DtSubMenu {
  font-size: 20em;
  color: black;
}

.MobileMenu {
  padding: 2em;
  width: 100%;
  opacity: .7;
  font-size: 3em;
  color: white;
  background-color: blue;
  position: fixed;
  z-index: 2;
}

.Mwork {
  width: 20%;
  height: 30%;
  background-color: white;
  z-index: 1;
  display: inline;
}

.Mlogo {}

.Mnews {}

.Mabout {}


/*TITLE*/

.Title {
  padding: .1em;
  margin: 2em;
  width: 100%;
  color: white;
}

.TitleDetails {
  padding: .4em;
  font-size: .5em;
  color: black;
  background-color: white;
}

.Title:hover {
  background-color: yellow;
  cursor: pointer;
}

.Title img {
  width: 100%;
}

.TitleContainer {
  display: inline;
  width: 100%;
  background-color: black;
}

.soundcloud {
  padding: 5px;
  border: 2px solid black;
  width: 100%;
  height: 40px;
}
