@font-face {
  font-family: 'myfont';
  src: local('myfont'), url('./fonts/lkfutura1.0-medium-webfont.eot') format('eot'),
   url('./fonts/lkfutura1.0-medium-webfont.woff') format('woff'),
   url('./fonts/lkfutura1.0-medium-webfont.ttf') format('truetype'),
   url('./fonts/lkfutura1.0-medium-webfont.svg#svgFontName') format('svg')

}
body {
  font-family: 'myfont';
}
.MainContent
{
  width: 100vw;
  height: 100vh;
  font-family: 'myfont';
}
.ViewPort
{
  width: 100%;
  padding-top: 5em;
}
.Content
{
  box-sizing: border-box;
  margin-left: 1em;
  padding-top: 3em;
  padding-left: 6em;
  padding-right: 1em;
  width: 100%;
}
/*SPASH*/
.spash
{
  width: 40vw;
  height: 40vw;
  border: 3px solid black;
  z-index: 4;
  position: fixed;
  top:10vh;
  left: 50vw;
  opacity: .8;
    margin-top: 5vh;

}
.centeredBlinds
{
  padding-top: 25vh;
}
.spash img
{
width: 100%;
}
/*WEB*/
.WebContainer
{
    overflow: hidden;

    width: 100%;
    height: 100%;
    font-family: 'myfont';
    color: white;
}
.WebProjects {
  width:50vw;
  height:50vh;
  top:25vh;
  left: 25vw;
  padding: 3vh;
  text-align: center;
  background-color: black;
  position: fixed;
  z-index: 3000;
}
.screen
{
  width: 100vw;
  height: 100vh;

  background-color: black;
}
.row
{
  margin: 0;
  padding: 0;
}

/*MAGIC*/
.elementFloat
{
    -webkit-transition: all 1.3s;
       -moz-transition: all 1.3s;
        -ms-transition: all 1.3s;
         -o-transition: all 1.3s;
            transition: all 1.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}
.elementFloatQuick
{
    -webkit-transition: all .3s;
       -moz-transition: all 1.3s;
        -ms-transition: all 1.3s;
         -o-transition: all 1.3s;
            transition: all 1.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}
.leftFace
{
    -webkit-transform: matrix3d(1, 0, .00, .00001, .00, 1, .00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, .00, .00001, .00, 1, .00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
.rightface
{
    -webkit-transform: matrix3d(1, 0, .00, -.00001, .00, 1, .00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, .00, -.00001, .00, 1, .00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

/*LOGO*/
.Logo
{
  width: 98%;
  padding-top: 10vh;
  margin: auto;
  color: black;
  top:3em;
}
.LogoTop
{
  position: fixed;
  z-index: 7;

  width: 100%;
  padding-top: 1.5em;
  padding-left: 7em;
}
.LogoTop img
{
  height: 4em;
  z-index: 30000;
}
.Logo img
{
  width: inherit;
  color: black;
  box-shadow: 100px 100px 30px #888;
}
.Logo a
{
  width: inherit;
}
.LogoSlice img
{
  width: 50%;
}
.centeredBlinds
{
  padding-top: 25vh;
}

/*DESKTOP MENU*/
.DtMenu
{
  font-size: 1.5em;

  position: fixed;
  z-index: 7;
  top:5em;
  width: 1em;
  padding-left: 1em;
  left:2%;
  color: black;
  border-left: 1px solid black;
}
.DtMenuItem
{
  display: inline-block;
  margin-bottom: .5em;
  text-align: center;
}
.menuActive
{
  font-weight: bold;
}
.sideActive
{
  text-decoration: underline;

  color: red;
}
.DtMenu a
{
  z-index: 7;

  text-decoration: none;

  color: black;
}
.DtMenu img
{
  width: 7em;
  padding-bottom: 1em;
}
.DtMenuItem:hover
{
  font-style: normal;

  cursor: pointer;

  color: black;
}
.DtSubMenu
{
  line-height: 120%;

  margin: 0;

  list-style: none;

  color: black;
}
.DtSubMenu h2
{
  font-size: .7em;

  z-index: 1;

  cursor: pointer;
  transform: skewX(10deg) rotate(45deg);
}
.MobileMenu
{
  display: none;
}

/*MOBILE MENU*/
.MobileMenu
{
  font-size: 3vh;

  position: fixed;
  z-index: 2;

  width: 100%;

  opacity: 1;
  color: black;
}
.Mwork
{
  z-index: 1;

  display: inline;

  width: 15%;
  height: 30%;
}
menu
{
  color: black;
}

/*TITLE*/
.TitleThumb
{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.TitleThumb:hover .TitlePlayer
{
  opacity: 1;
}
.TitleThumb img
{
  width: 100%;
}
.TitleContainer
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.thumbDetails
{
  position: relative;
  z-index: -1;

  display: inline;

  text-align: right;

  color: black;
}
.thumbDetails h2
{
  font-size: 1em;

  margin-top: .8em;

  color: black;
}
.TitleThumbPlayer {
  position: absolute;
  width:100%;
  padding:.3em;
  background-color: rgba(255,255,255,.3);
}

/*PLAYER*/
.pseudoAbs
{
  position: relative;
  z-index: 5;
  top: -38px;
  left: 0;
}
.TitlePlayer
{
  position: absolute;

  display: inline;

  width: 100%;
  height: inherit;

  opacity: .9;
}
.gone
{
  display: none;
}

/*PLAYER 2*/
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  display: inline;
  align-self: center;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E3E3E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 9px #000000;
  border: 0px solid #000000;
  height: 14px;
  width: 14px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E3E3E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E3E3E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 9px #000000;
  border: 0px solid #000000;
  height: 14px;
  width: 14px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #E3E3E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #E3E3E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 9px #000000;
  border: 0px solid #000000;
  height: 14px;
  width: 14px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #E3E3E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E3E3E3;
}
ul {
    padding: 0;
    list-style-type: none;
}

/*LIBRARY*/
.LibraryContainer {
    width: 81%;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
}

.PlayerContainer
{
  box-sizing: border-box;
  padding: 1vw;
  min-height: 40vh;
  margin-bottom: 10vh;
  z-index: 200;
}
.PlayerLine
{
  border: 1px black solid;
  width: 100%;
  padding: 3vw;
  background-color: rgba(255, 255, 255, 0.9);
}
.PlayerControls button
{
  background-color: white;
  border: 0px solid black;
}
.PlayerControls
{
  width: inherit;
}
.PlayerContainer li
{
  font-size: .9em;
  padding: .2em;
  width:100%;
  list-style: none;
}
.PlayerContainer .active
{
  background-color: rgba(255,196,255,1);
}
.PlayerContainer li:hover
{
  background-color: rgba(255,196,255,1);
  cursor: pointer;
}
.SeekBar
{
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  margin-left: 0;
  padding: 0;
}
.SeekBar2
{

  align-items: center;
  margin-left: 0;
  top:3px;
  height: 100%;

}
.SeekBar input
{
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}

/*BLOG*/
.blogNew
{
  width: 80%;
  padding-left: 2em;

  align-items: center;
}
.PostContainer
{
  box-sizing: border-box;
  padding: 1vw;
  min-height: 10vh;
  margin-bottom: 10vh;
}
.video-responsive {
  position: relative !important;
  padding-bottom: 56% !important;
  height: 0 !important;
  overflow: hidden !important;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed,
.video-responsive video {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.BlogContainer
{
  width: 81%;
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
}

.PostThumb
{

  border: 1px black solid;
  width: 100%;
  padding: 3vw;
  background-color: rgba(255, 255, 255, 0.9);
}
.PostThumb h1
{
  font-size: 1.6em;
  font-weight: bold;

  letter-spacing: .04em;
}
.PostThumb h1 a
{

  font-weight: bold;
  text-decoration: none;
  color: black;
}
.PostThumb a:hover
{
  text-decoration: none;
}
.PostThumb  a
{
  text-decoration: underline;

  color: black;
}

.PostThumb  img
{
  float: left;

  width: 30%;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.postMedia
{
  float: left;
  width: 100%;
  height: auto   !important;

  margin-right: 1em;
  margin-bottom: 1em;
}
.Post
{
  width: 100%;
  padding: 2em;
}
.Post  img
{
  float:none;
  display: block;
  width: 50vw;
  height: 50vw;
  align-self: center;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4em;
}
.Post h1
{
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  letter-spacing: .1em;
}

textarea.form-control
{
  height: 100%;
}

/*ABOUT*/
.About
{
  box-sizing: border-box;
  width: 81%;
  margin-left: auto;
  margin-right: auto;
  padding: 5em;
}
.About img
{
  position: relative;

  float: left;

  height: 100%;
  margin: 1em;
}

@media only screen and (max-width: 800px)
{
    .MainContent
    {
        box-sizing: border-box;
        width: 100vw;
        margin: 0;
        padding: 0;
        padding-top: 7vh;
    }
    .ViewPort
    {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 5em;
    }
    .LogoTop
    {
        display: none;
    }


    /*TITLE THUMB*/
    .TitleThumb
    {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 150px;
        font-size: 1.5em;
    }
    .About
    {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .TitleThumbPlayer {
      position: absolute;
      width:100%;
      padding:.3em;
      background-color: rgba(255,255,255,.3);
    }
    .pseudoAbs
    {
        position: relative;
        z-index: 5;
        top: -50px;
        left: 0;
    }
    .TitleThumbPlayer {
      position: absolute;
      width:100%;
      padding:.3em;
      background-color: rgba(255,255,255,.3);
    }
    .SeekBar2
    {

      align-items: center;
      margin-left: 0;
      top:-3px;
      height: 100%;

    }
    .thumbDetails
    {
      position: relative;
      z-index: -1;
      top: 30px;
      display: inline;

      text-align: right;

      color: black;
    }
    .pseudoAbs
    {
      position: relative;
      z-index: 5;
      top: -0px;
      left: 0;
    }

    /*MOBILE BLOG*/
    .PostThumb
    {
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      padding: 1em;
    }
    .postMedia
    {
      width: 100%;
      height: auto   !important;
    }
    .PostThumb  img
    {
        float: left;

        box-sizing: border-box;
        width: 100%;

        border: white 1.5em solid;
    }
    .PostThumb  h1
    {
        font-size: 1.5em;
    }
    .PostThumb  p
    {
        font-size: 1em;
    }
    .BlogContainer
    {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

    }

    /*ABOUT*/
    .About
    {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 1em;
    }
    .About img
    {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 1em;
    }
    .frame
    {
        box-sizing: border-box;
        padding: 0vh;

        -webkit-box-shadow: -1px 9px 70px 24px rgba(222,218,237,1);
           -moz-box-shadow: -1px 9px 70px 24px rgba(222,218,237,1);
                box-shadow: -1px 9px 70px 24px rgba(222,218,237,1);
    }


    .TitleContainer
    {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    /*MOBILE MENU*/
    .MobileMenu
    {
        z-index: 1000;
        bottom: 0;

        display: block;
    }
    .MobileMenuItem
    {
        font-size: 3.5vw;

        display: inline-flex;

        width: 20%;
        height: 70px;

        -webkit-transform: rotate(6deg); /* Chrome, Safari, Opera */
            -ms-transform: rotate(6deg); /* IE 9 */
                transform: rotate(6deg);
        text-align: center;
        text-decoration: none;

        border: 0 solid black;
        border-left: 2px solid black;
        background-color: white;
        z-index: 7;

        text-align: center;
        text-decoration: none;
        color: black;
    }
    .MobileLogo
    {
        position: fixed;
        top: 0;

        width: 100vw;
        height: 5vh;
        margin-top: 1vh;
        padding-bottom: 1vh;

        background-color: rgba(255, 255, 255, .41);

        align-items: center;
    }
    .MobileLogo img
    {
        top: 0;

        height: inherit;
    }
    .menuActive
    {

        font-weight: bold;
    }
    .DtMenuItem:hover
    {
        font-style: normal;

        cursor: pointer;

        color: black;
    }
    .row
    {
        margin: 0;
        padding: 0;
    }
    .MobileSub.off
    {
        display: none;
    }
    .DtMenu
    {
        display: none;
    }
    .Content
    {
        margin: 0em;
        padding: 0em;
    }
    .video-responsive {
      position: relative !important;
      padding-bottom: 56% !important;
      height: 0 !important;
      overflow: hidden !important;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed,
    .video-responsive video {
      position: absolute !important;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      height: 100% !important;
    }
    .LibraryContainer {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    /*LIBRARY*/
    .PlayerContainer li
    {
      font-size: 2em;
      padding: .2em;
      width:100%;
      list-style: none;
    }
}
